<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="./index.html">
                        <!-- <div class="eyes-block">
                            <div class="eyes-container">
                              <div class="eye">
                                <div class="pupil"></div>
                                <div class="eyelid"></div>
                              </div>
                              <div class="eye">
                                <div class="pupil"></div>
                                <div class="eyelid"></div>
                              </div>
                            </div>
                        </div> -->
                        <img src="img/logoMangaDreamVN.png" alt="Logo Manga Dream">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="#">Trang chủ</a></li>
                            <li class="categories"><a href="#">Thể loại <i class="fa-solid fa-caret-down"></i></a>
                                <div class="categories_dropdown">
                                    <ul class="dropdown">
                                        <li class="category" data-description="Thể loại hành động, đầy kịch tính và cảnh chiến đấu"><a href="./categories.html">Action</a></li>
                                        <li class="category" data-description="Thể loại phiêu lưu, khám phá những vùng đất mới và cuộc hành trình mạo hiểm"><a href="./categories.html">Adventure</a></li>
                                        <li class="category" data-description="Thể loại hài hước, mang đến những tình huống vui nhộn và thú vị"><a href="./categories.html">Comedy</a></li>
                                        <li class="category" data-description="Thể loại tâm lý, với những cảm xúc và tình huống kịch tính, khó quên"><a href="./categories.html">Drama</a></li>
                                        <li class="category" data-description="Thể loại giả tưởng, với những thế giới kỳ diệu, sinh vật huyền bí và phép thuật"><a href="./categories.html">Fantasy</a></li>
                                        <li class="category" data-description="Thể loại kinh dị, với những cảnh tượng đáng sợ và tạo ra cảm giác hồi hộp, lo âu"><a href="./categories.html">Horror</a></li>
                                        <li class="category" data-description="Thể loại ma thuật, nơi phép thuật, các sinh vật huyền bí và sự kỳ diệu là chủ đạo"><a href="./categories.html">Magic</a></li>
                                        <li class="category" data-description="Thể loại bí ẩn, xoay quanh những vụ án, những tình huống cần khám phá và giải mã"><a href="./categories.html">Mystery</a></li>
                                        <li class="category" data-description="Thể loại tâm lý, tập trung vào những nghiên cứu về cảm xúc, lý trí và suy nghĩ của con người"><a href="./categories.html">Psychological</a></li>
                                        <li class="category" data-description="Thể loại tình cảm, với những mối quan hệ lãng mạn, những câu chuyện tình yêu cảm động"><a href="./categories.html">Romance</a></li>
                                        <li class="category" data-description="Thể loại khoa học viễn tưởng, với những thế giới khác, công nghệ tiên tiến và khám phá không gian"><a href="./categories.html">Sci-Fi</a></li>
                                        <li class="category" data-description="Thể loại Slice of Life, tập trung vào cuộc sống hàng ngày, những câu chuyện bình dị nhưng ý nghĩa"><a href="./categories.html">Slice of Life</a></li>
                                        <li class="category" data-description="Thể loại thể thao, xoay quanh các hoạt động thể thao, thi đấu và sự phát triển của nhân vật trong môi trường thể thao"><a href="./categories.html">Sports</a></li>
                                        <li class="category" data-description="Thể loại siêu nhiên, những hiện tượng và sự kiện ngoài khả năng giải thích của khoa học"><a href="./categories.html">Supernatural</a></li>
                                        <li class="category" data-description="Thể loại hồi hộp, với những tình huống căng thẳng, những câu chuyện đầy kịch tính"><a href="./categories.html">Thriller</a></li>
                                        <li class="category" data-description="Thể loại hồi hộp, với những tình huống căng thẳng, những câu chuyện đầy kịch tính"><a href="./categories.html">Thriller</a></li>
                                        <li class="category" data-description="Thể loại hồi hộp, với những tình huống căng thẳng, những câu chuyện đầy kịch tính"><a href="./categories.html">Thriller</a></li>
                                        <li class="category" data-description="Thể loại shounen, thường hướng đến đối tượng nam giới, với những câu chuyện về chiến đấu và sự trưởng thành"><a href="./categories.html">Shounen</a></li>
                                        <li class="category" data-description="Thể loại shoujo, hướng đến đối tượng nữ giới, với những câu chuyện tình yêu và sự phát triển nhân vật nữ"><a href="./categories.html">Shoujo</a></li>
                                        <li class="category" data-description="Thể loại seinen, dành cho người trưởng thành với những chủ đề phức tạp và sâu sắc hơn"><a href="./categories.html">Seinen</a></li>
                                        <li class="category" data-description="Thể loại josei, thường nói về cuộc sống và tình cảm của những người phụ nữ trưởng thành"><a href="./categories.html">Josei</a></li>
                                        <li class="category" data-description="Thể loại Isekai, nơi nhân vật chính bị chuyển sang một thế giới khác, thường là một thế giới kỳ diệu"><a href="./categories.html">Isekai</a></li>
                                        <li class="category" data-description="Thể loại ecchi, có yếu tố tình dục nhẹ nhàng, thường gây cười hoặc hấp dẫn người xem"><a href="./categories.html">Ecchi</a></li>
                                        <li class="category" data-description="Thể loại mecha, tập trung vào những câu chuyện về các robot hoặc máy móc khổng lồ và chiến đấu giữa chúng"><a href="./categories.html">Mecha</a></li>
                                        <li class="category" data-description="Thể loại yaoi, nói về mối quan hệ tình cảm giữa hai nhân vật nam"><a href="./categories.html">Yaoi</a></li>
                                        <li class="category" data-description="Thể loại yuri, nói về mối quan hệ tình cảm giữa hai nhân vật nữ"><a href="./categories.html">Yuri</a></li>
                                        <li class="category" data-description="Thể loại lịch sử, thường xoay quanh các sự kiện và nhân vật trong quá khứ"><a href="./categories.html">Historical</a></li>
                                        <li class="category" data-description="Thể loại ẩm thực, tập trung vào các món ăn, cách chế biến và khám phá văn hóa ẩm thực"><a href="./categories.html">Food</a></li>
                                        <li class="category" data-description="Thể loại quân sự, xoay quanh các chiến tranh, trận chiến và những người lính"><a href="./categories.html">Military</a></li>
                                        <li class="category" data-description="Thể loại âm nhạc, xoay quanh âm nhạc và các nghệ sĩ, thể hiện tình yêu với âm nhạc"><a href="./categories.html">Music</a></li>
                                        <li class="category" data-description="Thể loại parody, với những tình huống hài hước, nhại lại các tác phẩm khác hoặc sự kiện nổi bật"><a href="./categories.html">Parody</a></li>
                                        <li class="category" data-description="Thể loại nơi các sự kiện diễn ra trong một môi trường làm việc, mô tả cuộc sống văn phòng hoặc các công sở"><a href="./categories.html">Workplace</a></li>
                                        <li class="category" data-description="Thể loại tội phạm, tập trung vào các vụ án, điều tra và thủ phạm trong các câu chuyện bí ẩn"><a href="./categories.html">Crime</a></li>
                                        <li class="category" data-description="Thể loại triết học, tập trung vào các câu hỏi sâu sắc về bản chất của cuộc sống, con người và thế giới xung quanh"><a href="./categories.html">Philosophy</a></li>
                                        <li class="category" data-description="Thể loại cyberpunk, với bối cảnh tương lai, công nghệ cao, và những xã hội đổ vỡ"><a href="./categories.html">Cyberpunk</a></li>
                                        <li class="category" data-description="Thể loại siêu anh hùng, tập trung vào những người có siêu năng lực và những cuộc phiêu lưu của họ"><a href="./categories.html">Superhero</a></li>
                                    </ul>
                                    <div class="btn-search">
                                        <button class="btn-search__categories">Tìm kiếm kết hợp</button>
                                    </div>
                                </div>
                                <div class="marquee">
                                    <span>Đọc truyện vui vẻ nhé các wibu - みんな、楽しく読んでね〜！</span>
                                </div>
                            </li>
                            <li><a href="#">Tin tức</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="header__right">
                    <div class="search-box">
                        <input type="text" placeholder="Tìm kiếm truyện...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="profile">
                        <i class="fa-solid fa-user"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>