<div id="splash">
  <div class="left">
    <span>Manga</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="900" height="600" viewBox="0 0 30 20" version="1.1">
      <rect width="30" height="20" fill="#da251d"/>
      <polygon points="15,4 11.47,14.85 20.71,8.15 9.29,8.15 18.53,14.85" fill="#ff0"/>
    </svg>
  </div>
  <div class="right">
    <span>Dream</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="900" height="600" viewBox="0 0 900 600">
      <rect fill="#fff" height="600" width="900"/>
      <circle fill="#bc002d" cx="450" cy="300" r="180"/>
    </svg>
  </div>
</div>
<app-header style="z-index: 1;position: relative;"></app-header>

<div style="height: 500px"></div>

<app-footer></app-footer>
